<%- include('../partials/header') %>
<div class="formContainer">
    <div class="formContent">
        <h2><%= car.name %> details</h2>
    <form action="/cars/<%= car._id %>?_method=PUT" method="post">
        
        <input type="text" name="name" id="name" class="inputText" value="<%= car.name %>">
        <br>
        <br>
        <input type="text" name="make" id="make" class="inputText" value="<%= car.make %>">
        <br>
        <br>
        <input type="text" name="model" id="model" class="inputText" value="<%= car.model %>" value>
        <br>
        <br>
        <input type="text" name="color" id="color" class="inputText" value="<%= car.color%>">
        <br>
        <br>
        <button type="submit" class="addButton">Save</button>
    </form>
</div>
</div>
<%- include('../partials/footer') %>
