<%- include('../partials/header') %>
    <div class="formContainer">
        <div class="carsCard" style="text-align: center;">
            <h2 style="text-align: center;"><%= car.name %> details</h2>
            <div>
                <input type="text" name="name" id="name" disabled class="inputText" value="<%= car.name%>">
            </div>
            <br>
            <div>
                <input type="text" name="make" id="make" disabled class="inputText" value="<%= car.make %>">
            </div>
            <br>
            <div>
                <input type="text" name="model" id="model" disabled class="inputText" value="<%= car.model %>" >
            </div>
            <br>
            <div>
            <input type="text" name="color" id="color" disabled class="inputText" value="<%= car.color %>">
            </div>
            <br>
            <div class="formActions">
                <a href="/cars/<%= car._id %>/edit">
                    <button class="editButton">Edit</button>
                </a>
                <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="deleteButton">Delete</button>
                </form>
            </div>
        </div>
    </div>
<%- include('../partials/footer') %>
