<%- include('../partials/header') %>
    <div class="carContainer">
        <div class="carsCard">
            <h3><%= car.name %></h3>
            <h4><%= car.make %></h4>
            <h4><%= car.model %></h4>
            <h4><%= car.color %></h4>
            <h4><%= car.manufacturedate %></h4>
            <div class="formActions">
                <a href="/cars/<%= car._id %>/edit">
                    <button>Edit</button>
                </a>
                <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete <%= car.name %></button>
                </form>
            </div>
        </div>
    </div>
<%- include('../partials/footer') %>
